html{
    font-family: tahoma, sans-serif;
    box-sizing: border-box;
    background-color: #0f0e11;
}

#app{
    width: calc(100vw - 23px);
}

*, *::after, *::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}